/*
 * Settings
 *
 * Project-wide re-usable variables
 *
 */
/*
/*
-------------------------
transitions
-------------------------
*/


/*
-------------------------
Global spacing
-------------------------
*/
.row {
    @apply grid grid-cols-mobile;
    @apply nm:grid-cols-desktop;
}

.g-mb {
    @apply mb-16;
    @apply nm:mb-24;
}