/**
 * components/typography.css
 *
 * Typography rules.
 *
 */

body {
    @apply font-sans leading-normal;
}

/*
Headings
*/
h1 {
    @apply text-2xl font-bold !important;
}
h2 {
    @apply text-xl font-bold !important;
}
h3 {
    @apply text-lg font-bold !important;
}

/*
Body text
*/


/*
Lists
*/
ul { list-style: disc; }

ol { list-style: decimal; }

ul, ol {
    @apply pl-6;
    &:not(:last-child) { @apply pb-4; }
}

/*
Other
*/
a {
    @apply outline-none;
}


.rte {
    
}